@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #ffb972;
  position: relative;
  z-index: 1;
}

#matter-canvas {
  width: 100%;
  height: 100%;
  filter: url(#gooey);
  flex-shrink: 0;
}

#boba-spout,
#boba-cup,
#table,
#cat-boba,
#shelf {
  position: absolute;
  pointer-events: none;
}

#boba-cup {
  width: 220px;
}

#boba-spout {
  left: 0;
  top: 8px;
  z-index: -1;
  width: 150px;
  transform: translate(-3px, 0);
}

#table {
  z-index: -2;
  width: 1000px;
  top: 400px;
  left: 650px;
}

#cat-boba {
  z-index: -1;
  width: 169px;
  top: 10px;
  left: 500px;
}

#shelf {
  z-index: -1;
  width: 450px;
  top: 290px;
  left: 350px;
}
